body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.my-presentation-title {
  font-family: "Lobster";
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #62edd6;
}

.my-presentation-subtitle {
  font-size: 1.5em;
  color: #FFFFFF;
  margin-top: 20px;
}

.my-presentation-instruction {
  font-size: 2em;
  font-family: "Lobster";
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 40px;
  transform: rotate(-8deg)
}